.header-container {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  margin-left: 20px;
  height: 50px;
  width: 1342px;
}
.back-button-container {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: 0px;
}
.link-style {
  text-decoration: none;
}
.back-text {
  width: 34px;
  height: 24px;
  gap: 0px;

  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #f8fafc;
  margin: 0px;
}
.arrow-icon {
  width: 24px;
  height: 24px;
  top: 24px;
  left: 130px;
  gap: 0px;

  padding-right: 10px;
}
@media (max-width: 560px) {
  .header-container {
    height: 50px;
    width: 100vw;
  }
}
